@using InterviewB.Models
<!-- Basic Info -->
<li class="card my-2 order-1" id="basic-info" data-order="1">

    <h5 class="card-header text-white bg-secondary text-right" data-toggle="collapse"
        data-target="#basic-info-body" aria-expanded="true" aria-controls="basic-info-body" id="basic-info-header"
        class="d-block">
        البيانات الأساسية
        <i class="fa fa-chevron-down"></i>
    </h5>

    <div id="basic-info-body" class="collapse show" aria-labelledby="basic-info-header">
        <div class="card-body">

            <!-- STD_NO -->
            <div class="data-block float-right text-center pl-1 persian d-block">
                <p class="data-name font-weight-bold mb-0">رقم القيد</p>
                <p class="data-value form-control  font-weight-bold arabic bg-light" id="std_no">
                   @((ViewBag.basic_info as BASIC_INFO).STD_NO )
                </p>
            </div>

            <!-- STD_NAME -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">أسم الطالب</p>
                <p class="data-value form-control  font-weight-bold bg-light px-3" id="std_name">
                    @((ViewBag.basic_info as BASIC_INFO).STD_NAME )
                </p>
            </div>

            <!-- NATIONAL_ID -->
            <div class="data-block float-right text-center pl-1 persian d-block">
                <p class="data-name font-weight-bold mb-0">الرقم القومي</p>
                <p class="data-value form-control  font-weight-bold arabic bg-light" id="national_id">
                    @((ViewBag.basic_info as BASIC_INFO).NATIONAL_ID )
                </p>
            </div>

            <!-- AGE MON -->
            <div class="data-block float-right text-center pl-1 persian d-block">
                <p class="data-name font-weight-bold mb-0">شهر</p>
                <p class="data-value form-control  font-weight-bold arabic bg-light" id="age_mon">
                    6
                </p>
            </div>

            <!-- AGE YEAR -->
            <div class="data-block float-right text-center pl-1 persian d-block">
                <p class="data-name font-weight-bold mb-0">سنة</p>
                <p class="data-value form-control  font-weight-bold arabic bg-light" id="age_year">
                    27
                </p>
            </div>

            <!-- PLACE -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">المحافظة</p>
                <p class="data-value form-control  font-weight-bold bg-transparent px-3" id="place">
                    القاهرة
                </p>
            </div>


            <!-- SCN INFO -->
            <!-- SCN -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">الثانوية</p>
                <p class="data-value form-control  font-weight-bold bg-transparent px-3" id="scn">
                    ثانوية عامة
                </p>
            </div>

            <!-- SHOPA -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">الشعبة</p>
                <p class="data-value form-control  font-weight-bold bg-transparent  px-3" id="shopa">
                    علمي رياضة
                </p>
            </div>

            <!-- SCN_NAME -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">ثانوية أجنبية</p>
                <p class="data-value form-control  font-weight-bold bg-transparent  px-3" id="scn_name">
                    ثانوية سعودية
                </p>
            </div>
            <!-- END SCN INFO -->
            <!-- GAM INFO -->
            <!-- COLLAGE -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">الجامعة</p>
                <p class="data-value form-control  font-weight-bold bg-transparent  px-3" id="collage">
                    بنها
                </p>
            </div>

            <!-- GRADUATION -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">التخصص</p>
                <p class="data-value form-control  font-weight-bold bg-transparent  px-3" id="graduation">
                    هندسة حواسب
                </p>
            </div>

            <!-- POST_GRADUATION -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">التخصص</p>
                <p class="data-value form-control  font-weight-bold bg-transparent  px-3" id="post_graduation">
                    لا يوجد
                </p>
            </div>

            <!-- GRADE -->
            <div class="data-block float-right text-center pl-1 d-block">
                <p class="data-name font-weight-bold mb-0">التخصص</p>
                <p class="data-value form-control  font-weight-bold bg-transparent  px-3" id="grade">
                    جيد
                </p>
            </div>

            <!-- END GAM INFO -->
            <!-- PERS -->
            <div class="data-block float-right text-center pl-1 persian d-block">
                <p class="data-name font-weight-bold mb-0">النسبة</p>
                <p class="data-value form-control  font-weight-bold arabic bg-light" id="pers">
                    70,76
                </p>
            </div>

            <!-- SPECIAL WEIGHT -->
            <div class="data-block float-right text-center pl-1 persian d-block">
                <p class="data-name font-weight-bold mb-0">الوزن النوعي</p>
                <p class="data-value form-control  font-weight-bold arabic bg-light" id="sweight">
                    765
                </p>
            </div>


        </div>
    </div>
</li>