@using InterviewB.Models
<!-- Content -->
<div id="content" class="p-4 p-md-5 container-fluid">
    @Html.Partial("_Navbar")
    <!-- Master For Web Site -->
    <div id="master" class="d-flex flex-nowrap flex-column  pt-5 px-0">
        <label class="switch d-none">
            <input type="checkbox" class="success" id="switch-order" />
            <span class="slider round"></span>
        </label>
        <!-- Spinner -->
        <div id="spinnerc" class="spinner-border text-warning mx-auto mt-5 d-none" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <!-- Student Info Cards -->
        <div class="nested_with_switch vertical text-center list-unstyled list-inline row d-flex flex-row-reverse align-items-lg-stretch" id="student-cards"></div>
    </div>

</div>



@section scripts{
    <script>
        var _ServerHub = $.connection.serverHub;

        $(window).on('load', function () {
            // Start the connection.
            $.connection.hub.start().done(function () {
                console.log(_ServerHub.connection.id);
                    // Call the Send method on the hub.
                _ServerHub.server.updateConnectionId("@((Session["user"] as USER).USERNAME)");
            });
        });
    </script>
}