<!--Image Modal -->
<div class="modal fade" id="image-model" tabindex="-1" role="dialog" aria-labelledby="imageModel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title font-weight-bolder mx-auto">الكارت العائلي</h2>
                <span class="close ml-0" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <i class="fas fa-window-close"></i>
                </span>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" id="image-container">
                        <img src="~/Content/images/login-bg.jpg" class="img-fluid" alt="Responsive Image" id="image-modal" />
                        <p class="hide alert-danger" id="image-error"> لا يوجد كارت عائلي لهذا الطالب</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
