/*=============================================
=            Root            =
=============================================*/
:root {
    --darkb: #1d1919;
    --gold: #f8b739;
}


@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'ElMessiri';
    src: url('../fonts/ElMessiri-Regular.ttf') format('ttf');
}


/*=============================================
=            Login Form Page         =
=============================================*/
#form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    direction: rtl;
}

/*=============================================
=            Navbar            =
=============================================*/

#navbar {
    direction: rtl;
}

#username {
    font-size: 1.2rem;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite;
}

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
    }
}


#normal-user {
    font-size: 1.5rem;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    animation: bing 12s infinite;
    -webkit-animation: glow 5s infinite;
}


@-webkit-keyframes glow {
    20%, 24%, 55% {
        color: #111;
        text-shadow: none;
    }

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes glow {
    20%, 24%, 55% {
        color: #111;
        text-shadow: none;
    }

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}



.text-blinking {
    /*or other element you want*/
    animation: text-blink .5s step-end infinite alternate;
}

@keyframes text-blink {
    50% {
        /*border-color: #ff0000;
        background-color: tomato;*/
        color: yellowgreen;
    }
}



/*=============================================
=            Container            =
=============================================*/


/*----------  Switch - The box around the slider  ----------*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

    /*----------  Hide default HTML checkbox  ----------*/
    .switch input {
        display: none;
    }

/*----------  The slider  ----------*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
}

input.success:checked + .slider {
    background-color: #8bc34a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*----------  Rounded sliders  ----------*/
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*=============================================
=            Cards            =
=============================================*/
#spinnerc {
    width: 6rem;
    height: 6rem;
}

.card, .data-value, .badge {
    box-shadow: 0 10px 10px -5px;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header.collapsed .fa {
    transform: rotate(90deg);
}

#nafsi-info-header, .bg-nafsi {
    background-color: darkseagreen;
}

.card-body {
    direction: rtl;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.data-name, .data-value , th,td {
    font-size: 1.4rem;
}


td, th {
    vertical-align: middle !important;
}



.glasses-blinking {
    /*or other element you want*/
    animation: glasses-blink .5s step-end infinite alternate;
}

@keyframes glasses-blink {
    50% {
        /*border-color: #ff0000;
        background-color: tomato;*/
        color: yellow;
    }
}








/*Touch Screen*/
@media ( width: 1920px){
    .data-name, .data-value , th ,td{
        font-size: 1.7rem;
    }
}

/* Tv Screen */
@media ( min-width: 2500px) {
    .data-name, .data-value, th, td {
        font-size: 2.3rem;
    }
}
