
 <!-- Content -->
<div id="content" class="mt-5 p-5 container-fluid">
    
    <form id="form-signin" action="Login" method="post">
        @if (ViewBag.FailedLogin != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>@ViewBag.FailedLogin</strong>
            </div>
        }

        @Html.AntiForgeryToken()

        <h1 class="mb-3 font-weight-normal text-center">تسجيل الدخول</h1>
        <hr />
        <div class="form-group mb-5">
            <label for="user" class="sr-only">إسم المستخدم</label>
            <input type="text" id="user" class="form-control float-right mb-5" placeholder="إسم المستخدم" name="user">
        </div>
        <div class="form-group mb-5">
            <label for="password" class="sr-only">كلمة السر</label>
            <input type="password" id="password" class="form-control float-right mb-5" placeholder="كلمة السر" name="password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">دخول</button>
    </form>
</div>